@font-face {
  font-family: Gotham;
  src: url("../src/fonts/GothamLight.ttf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../src/fonts/GothamBold.otf");
}

@font-face {
  font-family: SecularOne-Regular;
  src: url("../src/fonts/SecularOne-Regular.ttf");
}

h1,
h2,
h3 {
  font-family: SecularOne-Regular;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: (#ffffff, #d68f44);
  --secondary-color: green;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #dd6666; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0;
  background: #a96622;
  background: -webkit-linear-gradient(#ffffff, #d68f44);
  background: -moz-linear-gradient(#ffffff, #d68f44);
  background: linear-gradient(#ffffff, #d68f44);
  overflow: hidden;
  background: url("/assets/images/class-bg.avif") no-repeat center;
  background-size: cover;
}

.auth-btns-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.auth-child {
  height: 80%;
  width: 90%;
}

.auth-form-input-wrapper {
  /* border: 1px solid red; */
  margin-bottom: 10px; /* Add margin at the bottom for spacing between input rows */
}

.auth-wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add styling for labels */
label {
  margin-bottom: 5px; /* Add margin at the bottom of labels */
}

/* this is a break */

.text-center {
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}
.box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 3px;
  padding: 70px 100px;
}
.input-container {
  position: relative;
  margin-bottom: 25px;
  width: 90%;
  background: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.25);
}
.input-container label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: black;
  transition: all 0.5s ease-in-out;
}
.input-container input {
  border: 0;
  /* border-bottom: 1px solid #555; */
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: black;
}
.input-container input:focus {
  border: none;
  outline: none;
  /* border-bottom: 1px solid #3a3b46; */
}
.btn {
  font-family: SecularOne-Regular;
  color: #fff;
  background-color: #383028;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  width: 40%;
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  height: 3em;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -12px;
  font-size: 12px;
}

.form-bg {
  /* background: #a96622;
  background: -webkit-linear-gradient(#ffffff, #d68f44);
  background: -moz-linear-gradient(#ffffff, #d68f44);
  background: linear-gradient(#ffffff, #d68f44); */
  /* background: black; */
  height: inherit;
  /* width: 100%; */
  opacity: 0.8;
}

.join-lesson-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lessons-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lesson-content-container {
  width: 100%;
  padding: 4px;
  text-align: center;
  color: black;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.252); */
}

.lesson-content-font {
  color: black;
  font-family: SecularOne-Regular;
  font-size: 1.3em;
  margin-right: 5px;
}

.my-account-details-container {
  /* border: 1px solid black;
  color: black;
  display: flex; */
  border: 2px solid #f0f0f0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #edecebdc;
  color: #313131;
  display: flex;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.9;
}

.my-account-deets-row {
  margin-right: 1em;
  font-family: SecularOne-Regular;
}

.my-lessons-btn {
  font-family: SecularOne-Regular;
  color: black;
  background-color: #fff1e1;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  height: 3em;
}

/* this stying needs to be adjusted ----> */

.my-lessons-list {
  /* margin-top: 2em; */
  flex: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #a96622;
  background: -webkit-linear-gradient(#ffffff, #d68f44);
  background: -moz-linear-gradient(#ffffff, #d68f44);
  background: linear-gradient(#ffffff, #d68f44);
}

.my-lessons-list-container {
  width: 96%;
  height: 70%;
  background: #a966224f;
  overflow-y: scroll;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  border-radius: 10px;
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.35);
}

.my-lesson-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 80%; */
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
}

.nav-left-corner {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}

.nav-name {
  flex: 1;
  padding: 4px;
  /* margin-left: 5em; */
  font-family: gotham;
}

.nav-title {
  flex: 1;
}

.nav-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.235);
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  height: 5em;
}

.portal-title {
  color: black;
  font-family: SecularOne-Regular;
  font-size: 2em;
  text-align: center;
}

.portal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vh;
}

.profile-pic {
  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.55);
}

.signup-form-wrapper {
  margin-top: 2em;
  width: 60%;
}

.student-btn {
  font-family: SecularOne-Regular;
  /* background-color: #383028; */
  outline: none;
  border: 0;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;

  box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 15px 1px rgba(0, 0, 0, 0.75);
  height: 11em;
  background: url("/assets/images/aug-real.jpg") no-repeat center;
  background-size: cover;
  font-size: 1.5em;
}

.text-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: underline;
}

/* Secular One */

p {
  font-family: "Reenie Beanie";
  font-size: 2rem;
}
ul,
li {
  list-style: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}

ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}
ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}
ul li:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul li {
  margin: 1em;
}
